<div class="bg-light row align-items-baseline rounded justify-content-between px-2">
  <div class="col">
    <h1 class="text-capitalize">{{ user.username }}</h1>
    <p>{{user.email}}</p>
  </div>
  <div class="bg-secondary d-inline-block p-1 rounded">
    <span class="text-warning">{{user.weatherPoints}}</span>
    <span class="text-light">Weather Points</span>
  </div>
</div>

<hr>
<h3 class="font-weight-bold">Your bets</h3>
<div class="justify-content-around w-100 wrap row">
  {{#each user._bets}}

  <div class="my-1 border justify-content-around rounded bg-light col-6">
    <div class="both-things d-flex justify-content-between ">
      <div class="d-flex flex-column pl-2">
          <span class="font-weight-bold justify-content-start">{{this._challenge.city}}</span>
          <span>{{this._challenge.date}}</span>
      </div>

      <div class="pr-2 my-auto mid-line-height vertical-align-middle">
        <div class="text-center">
          <p class="vertical-align mid-line-height">
        </div>
        {{this.temperature}} °C
        </p>
      </div>

    </div>

  </div>

  {{/each}}
</div>
